
.incidents-grid-container {
    background-color: #f3f3f3;
    height: 95vh;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title-container p {
    color: #843840;
    font-size: 23px;
    font-weight: bolder;
}

.incidents-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 35px;
}

img.incident-img {
    width: 75px;
}

img.incident-img-big {
    width: 75px;
    padding-top: 15px;

}

img.incident-img-big2 {
    width: 105px;
    padding-top: 15px;

}


.btn-container {
    padding-inline-end: 30px;

    padding-top: 40px;
    display: flex;
    justify-content: right;
}

button.end-btn {
    color: white;
    border-radius: 9px;
    padding: 10px;
    font-weight: bold;
    background-color: #9e1c22;
    border: 0;

}

.incident {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.incident p {
    color: #d4212a;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
