
.incidents-grid-container {
 display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 15px;
}
.incident {
    background-color: #a2a2a2;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 8px;
}
.incident p {
text-align: center;
    font-weight: bold;
    color: darkred;
}
