.modal-container{
    height: 90vh;
    width: 160px;
    flex-direction: column;
    position: absolute;
    top: 73px;
    right: 519px;
    transition:  0.5s right;
    background-color: #fff;


}
.modal-container.open{
    right: 0;
    height: 90vh;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 73px;
    background-color: #fff;

    transition:  0.5s right;


}


.top,.bottom{
    display: flex;
    font-family: heebo,sans-serif;
}
.bottom {
    background-color: #fff;
    justify-content: flex-end;
    width: 100%;
}

.top {
    height: 197px;
    padding-top: 10px;
    background: #9E1C22;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;

}
p.user-name,p.user-role{
    margin-bottom: 0;
}
p.user-name {
    font-size: 16px;
}
p.user-role {
    font-size: 14px;
}

.name-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.name-container p {
    font-size: 18px;
    font-weight: bold;
}
.links-container .link-container{
    padding: 5px 0 0 0;
    direction: ltr;

}
.links-container{
    padding-inline-end: 20px;
}
.link-container p {
    color: #D5212A;
    font-size: 16px;
    text-align: right;
    margin-bottom: 0;
}
.link-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon-container{
    padding-inline-start: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}
